:root {
    --primary-color: beige;
    --black-color: rgb(12, 11, 11);
    --secondary-color: #078507;
    --light-gray-color: #e8dcdc;
    --gap: 4rem;
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
    background: black;
    font-size: 1.6rem;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
    color: beige;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 6rem var(--gap);
}

.menu {
    background-color: var(--primary-color);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom-color: 0.1rem solid var(--primary-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--black-color);
}
.menu h1 {
    color: var(--black-color);
    font-size: 2.3rem;
}
.menu h1 a {
    color: inherit;
    text-decoration: none;
}
.menu ul {
    list-style: none;
    display: flex;
}

.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    width: 100%;
    min-height: 100vh;
}

.top3-content {
    display: flex;
    max-width: 64rem;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.intro-img img {
    max-width: 100%;
    height: auto;
}

.intro-text-content h2 {
    font-size: 5.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.top3-content h2 {
    font-size: 5.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}


.section {
    min-height: 100vh;
}

.main-bg {
    background-size: 100%;
    background-position: center center;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='481' height='57.7' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='7.9' stroke-opacity='0.6'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.sec-bg {
    color: var(--black-color);
    background-size: 100%;
    background-position: center center;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23CECECE' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}


.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;  
}

p {
 margin-bottom: 3rem;   
}

.grid-one-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -3rem;
    left: -2rem;
    transform: rotate(5deg);
}

.grid-description {
    padding-bottom: 2rem;
}

.grid-main-heading {
    padding-bottom: 1rem;
}

.gallery-img {
    width: 100%;
    max-height: 36rem;
    max-width: 36rem;
    overflow: hidden;
}

.gallery-img img {
    background-size: cover;
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.1) rotate(3deg);
}

.container {
    max-height: 45rem;
}

table {
    width: 100%;
    min-width: 360px;
}

table td, table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid rgb(255, 255, 255);
}

tfoot td, table th {
    background-color: rgb(60, 54, 54);
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 32rem;
}
.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--primary-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;

}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0.2rem 1.5rem var(--secondary-color);
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    background: none;
    border: 0.5rem solid var(--black-color);
    padding: 1.5rem 2rem;
    color: var(--black-color);
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    border: 0.5rem solid var(--primary-color);
    background-color: var(--black-color);
    color: var(--primary-color);
}

.form-group ::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: rgb(84, 81, 81);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.footer p {
    margin: 0;
    padding: 3rem;
}

.footer {
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: var(--primary-color);
}

.heart {
    color: crimson;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--black-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

a {
    text-decoration: none;
}

@media (max-width: 80rem) {
    .intro-content, .grid {
        grid-template-columns: 1fr;
    }

    .intro-text-content h2 {
        font-size: 3.5rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
        line-height: 1.2;
    }

    .top3-content h2 {
        font-size: 3.5rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
        line-height: 1.2;
    }

    h2 {
        font-size: 3.5rem;
    }

    .gallery-img {
        width: 100%;
        max-height: 100%;
        max-width: 100%; 
    }

    .gallery-img img {
        width: 100%;
    }

    .grid-one-content {
        display: block;
    }

    .menu {
        bottom: 0;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center ;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }


    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 101;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--black-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }
    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .menu-spacing {
        display: none;
    }
}
